.main-div {
    padding: 20px 30px;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}
body {
    min-width: 800px;
    height: 100%;
    margin: 0%;
}
h1 {
    /*text-align: center;*/
    color:midnightblue;
}
.italic {
    font-style: italic;
}



.navbar {
    width: 100%;
    height: 60px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}
.navbar .conteiner {
    height: inherit;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 30px 0 30px;
}

.navbar-menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 12px;
}
.navbar-menu li {
    display: inline-block;
}
.navbar-menu li a {
    display: inline-block;
    color: midnightblue;
    opacity: 0.8;
    text-decoration: none;
    padding: 0 10px 0 10px;

    transition: all .3s ease-in-out;
}
.navbar-menu li a:hover {
    opacity: 1;
}

.navbar-wrap {
    height: inherit;
    /*display: flex;*/
    flex-flow: row nowrap;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: midnightblue;

    transition: all .3s ease-in-out;
}
.logo:hover {
    color: mediumblue;
}


.input-search {
    border-style: dashed;
    border-color: midnightblue;
    border-radius: 100px;
    width: 110px;
    
    padding: 7px 20px 7px 20px;

    transition: all .5s ease-in-out;
}
.input-search:hover {
    border-style:solid;
    
    color: mediumblue;
}
.input-search:focus {
    border-style:solid;
    width: 200px;
    
    color: mediumblue;
}

.btn-search {
    background-color: midnightblue;
    color: mintcream;
    border-radius: 100px;
    padding: 10px 20px 10px 20px;
    border-style: none;
    transition: all .3s ease-in-out;
    /*transition: box-shadow .3s ease-in-out;*/
}
.btn-search:hover {
    background-color:mediumblue;

    transform: scale(1.04);
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, .7);
}







#a-widget {
    text-decoration: none;
}
.widget-item {
    transition: all .2s ease-in-out;
}
.widget-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
}
.widget, .widget-item {
    /*background-color:rgba(104, 104, 255, 0.568);*/
    
    background: linear-gradient(-10deg, rgba(144, 144, 255, 0.548), rgba(9, 67, 239, 0.715));
    width: auto;
    height: auto;
    border-radius: 25px;
    padding: 5px 30px;
    margin-bottom: 20px;
}
.widget-conteiner-tab {
    height: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-left: 4px;
}
.widget-conteiner-temp {
    height: auto;
    display: flex;
    align-items: center;
}
#h1-temp {
    font-size: 45px; 
    margin-left: 20px;
    margin-right: 20px;
}

.datetime h3, h2 {
    text-align: right;
    color: midnightblue;
    margin-top: 13px;
}

.widget-conteiner-now {
    height: auto;
    display: flex;
    margin-top: 15px;
    margin-left: 4px;
    align-items: center;
    justify-content: space-between;
}
.widget-conteiner-now ul li {
    margin-bottom: 1px;
}
.widget-conteiner-now ul li{
    margin-bottom: 8px;
    color: midnightblue;
}
.by-times {
    width: 56%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 10px;
}
#day-time {
    width: 23%;
    height: 100%;

    border-radius: 20px;
    background: linear-gradient(-20deg, rgba(144, 144, 255, 0.548), rgba(63, 106, 236, 0.715));
    /*background-color: rgba(0, 60, 255, 0.164);*/

    transition: all .2s ease-in-out;
}
#day-time:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
}
.by-times div p {
    color:navy;
    text-align: center;
    margin: 10px 0 7px 0;
}
.by-times div div {
    width: auto;
    height: auto;
    text-align: center;
}


.widget-conteiner-week {
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 20px;
}
#week-day {
    width: 13%;
    height: 100%;

    border-radius: 20px;
    
    background: linear-gradient(-20deg, rgba(144, 144, 255, 0.548), rgba(63, 106, 236, 0.715));
    /*background-color: rgba(0, 60, 255, 0.164);*/

    transition: all .2s ease-in-out;
}
#week-day:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
}
.widget-conteiner-week div p {
    color:navy;
    text-align: center;
    margin: 10px 0 7px 0;
}
.widget-conteiner-week div div {
    width: auto;
    height: auto;
    text-align: center;
}



.weather-week {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 12px;
}
.weather-week li {
    display: inline-block;
}


footer {
    background-color: aliceblue;
    text-align: center;
    /* Позиционируем footer внизу main */
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Высота footer */
    height: 30px;
}




#edit-pic {
    opacity: 0.2;
    transition: all .1s ease-in-out;
}
#edit-pic:hover {
    opacity: 2;
    transform: scale(1.1);
}